/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  --cor-primary: #27C260;
  --cor-danger: #EF3D3D;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 30px;
}

span {
  font-size: 16px;
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  font-size: 16px;
  color: black;
}

.input-group input {
  width: 100%;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D6D6D6;
  padding-left: 10px;
  font-size: 16px;
  margin-top: 5px;
}

input:focus{
  border: 1px solid black;
  transition: 0.7s;
}

button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
}

.b-primary {
  background-color: black;
  color: white;
}

.b-primary:active{
  transition: 0.7s;
  color: black;
  background-color: white;
  transform: scale(1.1);
}
