<header>
  <div>
    <img src="/assets/login/logo.svg" alt="logo">
    <h1>Vila Oasis</h1>
  </div>
</header>

<section>
  <div class="section-header">
    <h1>Login</h1>
    <h2>Faça Login para continuar</h2>
    <hr>
  </div>
  <form [formGroup]="form">
    <div class="input-group">
      <app-input [showTip]="false" label="userTag">
        <input formControlName="userTag" placeholder="Digite a sua tag" type="text">
      </app-input>
    </div>
    <div class="input-group">
      <app-input [showTip]="false" label="Código de acesso">
        <input formControlName="accesscode" placeholder="Digite a código de acesso" type="text">
      </app-input>
    </div>
    <button (click)="login()" type="submit" class="b-primary">login</button>
  </form>
</section>

